//_app.scss

body {
	font-family: $roboto;

	* {
		transition: 0.3s ease all;
	}
}

h1 {
	
	&.title {
		margin: 2.0rem 0;
	}
	
	font-weight: 300;
	font-size: 3rem;
}

.content {
	padding-top: 106px;
}