$whiteActive : #FFF;
$whiteInactive : rgba(255,255,255,.5);

$darkActive : #4C4848;
$darkInactive : rgba(0,0,0,.5);

navbar {
	nav {
		padding: 0 5rem;
		position: absolute;
		z-index: 10;
		display: block;
		width: 100%;

		ul {
			padding-left: 0;
			list-style: none;
			margin: 0;
			float: right;
		}

		span, li {
			float: left;

			a, a:focus, a:active {
				text-align: center;
				padding: 40px 30px;

				display: inline-block;
				color: $darkInactive;
				text-decoration: none;
				font-size: 1.1rem;
				
				&.active, &:hover{
					text-decoration: none;
					color : $darkActive;
				}
			}
		}


		.logo {
			min-width: 120px;
		}
	}	

	&.home {
		a, a:focus, a:active {
			color: $whiteInactive;
			&.active, &:hover{
				text-decoration: none;
				color : $whiteActive;
			}
		}
	}
}
