.list {
	&__item {
		margin-bottom: 30px;
		border: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;

		&__photo {
			width: 100%;
		}

		&__content {

			padding: 15px;
			
		}
		&__title {
			font-weight: 500;
		}

		&__descr {
			color: #6F6F6F;
		}

		&:hover {
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);
		}
	}

}