<navbar></navbar>
<div class="content">
	<div id="gallery" class="col-md-12 detail__img">
		<div class="progressive-image">
			  <img ng-src="{{vm.project.thumbnail}}" class="img-small">
			  <div class="more">
			  	<span class="more__span">View More</span>
			  </div>
		</div>
	</div>
	<div class="container">
		<div class="row text">
			<div class="col-md-12 detail">
				<h1>{{vm.project.title}}</h1>
				<p>{{vm.project.description}}</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quia possimus nostrum dolor consequuntur! Molestiae ratione harum, tempore repellendus illo deserunt, alias hic, possimus unde magni, voluptates excepturi? Minima, est!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolore, nihil ea, laboriosam itaque ut officiis repellendus veritatis, maiores quas ipsum, libero. Quos harum deleniti unde laborum quia eveniet, quisquam.</p>
				</div>
		</div>
	</div>
</div>
